In [ ]:
import pandas as pd
import numpy as np

In [ ]:
credits=pd.read_csv('tmdb_5000_credits.csv')
movies=pd.read_csv('tmdb_5000_movies.csv')

In [ ]:
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
credits.shape

(4803, 4)

In [ ]:
movies.shape

(4803, 20)

In [ ]:
credits_renamed=credits.rename(index=str,columns={"movie_id":"id"})
movies_df=movies.merge(credits_renamed,on="id")
movies_df.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [ ]:
movies_df.shape

(4803, 23)

In [ ]:
movies_df = movies_df.loc[:,['genres','id','keywords','original_title','overview','cast','crew']]

In [ ]:
movies_df.head()

                                              genres  ...                                               crew
0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"id": 12, "name": "Adventure"}, {"id": 14, "...  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"id": 28, "name": "Action"}, {"id": 80, "nam...  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          4803 non-null   object
 1   id              4803 non-null   int64
 2   keywords        4803 non-null   object
 3   original_title  4803 non-null   object
 4   overview        4800 non-null   object
 5   cast            4803 non-null   object
 6   crew            4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.2+ KB

In [ ]:
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    movies_df[feature] = movies_df[feature].apply(literal_eval)

In [ ]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names

    return []

In [ ]:
movies_df['director'] = movies_df['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    movies_df[feature] = movies_df[feature].apply(get_list)

In [ ]:
movies_df.head()

                                 genres  ...           director
0          [Action, Adventure, Fantasy]  ...      James Cameron
1          [Adventure, Fantasy, Action]  ...     Gore Verbinski
2            [Action, Adventure, Crime]  ...         Sam Mendes
3                [Action, Crime, Drama]  ...  Christopher Nolan
4  [Action, Adventure, Science Fiction]  ...     Andrew Stanton

[5 rows x 8 columns]

In [ ]:
movies_df=movies_df.drop(columns=['crew'])
movies_df=movies_df.rename(index=str,columns={"original_title":"title"})

movies_df.head()

                                 genres  ...           director
0          [Action, Adventure, Fantasy]  ...      James Cameron
1          [Adventure, Fantasy, Action]  ...     Gore Verbinski
2            [Action, Adventure, Crime]  ...         Sam Mendes
3                [Action, Crime, Drama]  ...  Christopher Nolan
4  [Action, Adventure, Science Fiction]  ...     Andrew Stanton

[5 rows x 7 columns]

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4803 non-null   object
 1   id        4803 non-null   int64
 2   keywords  4803 non-null   object
 3   title     4803 non-null   object
 4   overview  4800 non-null   object
 5   cast      4803 non-null   object
 6   director  4773 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.2+ KB

In [ ]:
movies_df['title'] = movies_df['title'].str.lower()

In [ ]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:

        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [ ]:
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    movies_df[feature] = movies_df[feature].apply(clean_data)

In [ ]:
movies_df.to_csv('movies-processed.csv',index=False)